build/*.o
build/libibpm.a
build/checkgeom
build/ibpm
examples/*.cmd
examples/*.force
examples/*.bin
examples/*.plt
examples/*.cholesky
TAGS
test/*.o
test/runner
test/runner.err
test/gtest_main.a
test/gtest.a
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.out
doc/*.pdfsync
doc/*.synctex.gz
doc/*.toc
doc/ibpm_design.pdf
doc/html
doc/latex
doc/ibpm_manual.pdf
doc/examples/*.plt
doc/examples/*.out
doc/snippets/*.out
callgrind.out.*
.depend
